/* .box {
    width: 400px;
    border: 1px solid black;
    word-wrap: break-word;
  }
   */


  .bigContainer {
    display: flex;
  }

  .container {
    width: 512px;
    height: 582px;
    left: 64px;
    top: 64px;
    margin-left: 120px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

  .proof-button {
    width: 128px;
    height: 48px;
    left: 64px;

    background: #1A69C6;
    border: 1px solid #B3B3B3;
    border-radius: 8px;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;

    box-shadow: 0px 3px #606a7a; 
  } 

  .vkey-button {
    width: 80px;
    height: 32px;
    left: 1116px;

    background: #1A69C6;
    border: 1px solid #B3B3B3;
    border-radius: 8px;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;

    box-shadow: 0px 3px #606a7a; 
  } 

  .proof-button:active {
    transform: translateY(4px);
    box-shadow: none;
  }

  .vkey-button:active {
    transform: translateY(4px);
    box-shadow: none;
  }

  .copy-button{
    width: 80px;
    height: 28px;
    left: 1116px;

    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 8px;
  }

  .form {
    width: 512px;
    height: 70px;
    left: 64px;
    top: 64px;
  }

  .form-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px;
    margin-top: 10px;
    gap: 10px;

    width: 512px;
    height: 38px;

    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 8px;
  }

  input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

  p{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px;
    margin-top: 10px;
    gap: 10px;

    width: 400px;
    height: 85px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: auto;
    word-break: break-all;

    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 8px;
  }

  .buttonContainer{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  p::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
  p::-webkit-scrollbar-thumb {
    background: #1A69C6;
    border-radius: 5px;
  }

  p::-webkit-scrollbar-track {
    background: #9bcaef;
    border-radius: 5px;
  }
