/* .box {
    width: 400px;
    border: 1px solid black;
    word-wrap: break-word;
  }
   */
  .box {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: scroll;
  }

  .container {
    width: 600px;
  }

  .item {
    float: left;
    width: 150px;
    height: 80px;
    margin: 0 20px;
  }

  .item-button {
    float: left;
    width: 70px;
    height: 50px;
    margin: 0 20px;
  }

  .item-bottom {
    float: left;
    width: 410px;
    height: 80px;
    margin: 0 20px;
  }

  .item-bottom-button {
    float: left;
    width: 70px;
    height: 50px;
    margin: 20px 0px 10px 5px;
  }
